.edit-user {
    width: 35rem;
    margin: 2rem auto;

    .edit-user-form {
        .btn {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 620px) {
    .edit-user {
        width: 20rem;
    }
}
